In [1]:
lista = [1,2,3,4,5,6,7,8,9,10]
print(lista)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [3]:
listaObj = [1, "2", 'banana', 'morango', 'abacaxi']
print(listaObj)

[1, '2', 'banana', 'morango', 'abacaxi']

In [4]:
str1 = "ronaldo"
str2 = "curintia"
str3 = str1 + str2
print(str3)

ronaldocurintia

In [6]:
tupla = (1,2,2,3,4,4,4,5)
tupla.count(4)

3

In [16]:
dict = {}
print(dict)

{}

In [15]:
dict2 = {'1':'martelo','2':'serrote','3':'machado'}
print(dict2)

dict2['4'] = 'parafuso'
print(dict2)

{'1': 'martelo', '2': 'serrote', '3': 'machado'}
{'1': 'martelo', '2': 'serrote', '3': 'machado', '4': 'parafuso'}

In [21]:
dict3 = {'1':'geografia','2':'biologia', '3':[70,90]}
print(dict3)

a = 1
print(a)

{'1': 'geografia', '2': 'biologia', '3': [70, 90]}
1

In [22]:
lst = ['string1', (90,92), {'1':'v1','2':'v2', '3':'v3'}, 99.10]
print(lst)

['string1', (90, 92), {'1': 'v1', '2': 'v2', '3': 'v3'}, 99.1]

In [29]:
frase = 'Cientista de Dados é o profissional mais sexy do século XXI'
frase[0:32]

'Cientista de Dados é o profissio'