In [3]:
import os
os.remove("escola.db") if os.path.exists("escola.db") else None

In [4]:
import sqlite3

In [5]:
# cria conexao com banco de dados
# se o banco de dados não existir, ele é criado nesse momento
con = sqlite3.connect('escola.db')

In [11]:
type(con)

sqlite3.Connection

In [6]:
# criando um cursor
# um cursor permite percorrer todos os registros em conjunto de dados
cur = con.cursor()
type(cur)

sqlite3.Cursor

In [7]:
sql_create = 'create table cursos '\
'(id integer primary key not null,'\
'titulo varchar(100),'\
'categoria varchar(140))'

# executando a instrucao sql no cursor
cur.execute(sql_create)

In [8]:
sql_insert = 'insert into cursos values (?,?,?)'
recset = [(1000, 'Ciencia de dados','Data Science'),
          (1001, 'big data fundamentos', 'Big Data'),
          (1002, 'Python fundamentos','Análise de Dados')]

#inserindo os registros
for rec in recset:
    cur.execute(sql_insert, rec)

In [9]:
con.commit()

In [29]:
cur.execute('SELECT * FROM CURSOS')
for linha in cur.fetchall():
    print(linha)

(1000, 'Ciencia de dados', 'Data Science')
(1001, 'big data fundamentos', 'Big Data')
(1002, 'Python fundamentos', 'Análise de Dados')

In [11]:
sql_insert = 'insert into cursos values (?,?,?)'
recset = [(1003, 'Ronaldo','Curintia')]

#inserindo os registros
for rec in recset:
    cur.execute(sql_insert, rec)

In [12]:
cur.commit()

AttributeError: 'sqlite3.Cursor' object has no attribute 'commit'

In [13]:
con.commit()

In [23]:
sql_update = "UPDATE CURSOS SET TITULO = 'Ronaldinho' WHERE ID = 1003"
cur.execute(sql_update)
con.commit()

In [22]:
cur.commit()

AttributeError: 'sqlite3.Cursor' object has no attribute 'commit'

In [24]:
cur.execute('SELECT * FROM CURSOS')
for linha in cur.fetchall():
    print(linha)

(1000, 'Ciencia de dados', 'Data Science')
(1001, 'big data fundamentos', 'Big Data')
(1002, 'Python fundamentos', 'Análise de Dados')
(1003, 'Ronaldinho', 'Curintia')

In [27]:
cur.execute('DELETE FROM CURSOS WHERE ID = 1003')

con.commit()


for linha in cur.fetchall():
    print(linha)

In [28]:

for linha in cur.fetchall():
    print(linha)